<!DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- Fecha y lugar -->
    <p style="text-align: right;">
        <span style="font-size: 11.0pt;">Monterrey, N.L. a 19 de enero de 2017.</span>
    </p>
    <p>
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>
    <p>
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>

    <!-- Destinatario -->
    <p style="text-align: justify; tab-stops: 70.9pt;">
        <span style="font-size: 11.0pt;">Fundaci&oacute;n Telmex</span>
        <br>
        <span style="font-size: 11.0pt;">Presente.-</span>
    </p>

    <!-- Saludo -->
    <p style="text-align: justify; tab-stops: 307.5pt;">
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Estimados Se&ntilde;ores:</span>
    </p>

    <!-- Cuerpo -->
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Por medio de la presente hacemos constar que {{nombre}} matr&iacutecula {{matricula}} est&aacute inscrito(a) en este Instituto cursando el semestre del {{fechas_de_periodo}} en la carrera de {{carrera}}, {{semestre}}, cursando las siguientes materias:</span>
    </p>
    <p style="text-align: justify;">
    <span style="font-size: 11.0pt;">{{nombre_materias_inscritas}}
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">El periodo de vacaciones ser&aacute; del {{periodo_de_vacaciones}}. De igual manera les notificamos que el promedio acumulado hasta el momento es de <strong>{{promedio_acumulado}}</strong>, y del semestre de {{fechas_semestre_anterior}} es de <strong>{{promedio_semestre_anterior}}</strong> basado en una escala num&eacuterica del 1 (uno) al 100 (cien), siendo el 100 (cien) la calificaci&oacuten m&aacutexima posible y 70 (setenta) la calificaci&oacuten m&iacutenima aprobatoria.  El promedio general se obtiene tomando en cuenta todas las materias cursadas (incluyendo cursos remediales y cursos no aprobados).</span>
    </p>
    <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
        <span style="font-size: 11.0pt;">El alumno(a) ha cursado y aprobado <strong>{{materias_aprobadas}}</strong> materias de <strong>{{total_de_materias_de_carrera}}</strong> que comprende el plan de estudios su carrera.</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Para los usos legales que al interesado(a) convengan, extendemos la presente  CONSTANCIA en la ciudad de Monterrey, Nuevo Le&oacuten a la fecha de {{fecha_actual}}. </span>
    </p>

    <!-- Despedida -->
    <p style="text-align: justify;">
      <p>
        <span style="font-size: 11.0pt;"> A t e n t a m e n t e,
      </p>


    <!-- Datos Encargado -->
    <p>
        <img src="images/firma.png" height="60">
        <br>
        <span style="font-size: 12.0pt;">Departamento de Administraci&oacuten Acad&eacutemica</span>
        <br>
        <span style="font-size: 11.0pt;">Tecnol&oacutegico de Monterrey</span>
        <br>
        <span style="font-size: 11.0pt;">Campus Monterrey</span>
    </p>

</body>

</html>
