<!DOCTYPE>
<html>

<head>

</head>

<body>
    <div style="margin-left: 100px; margin-right: 100px; padding-top: 180px; padding-bottom: 100px">
        <!-- Saludo -->
        <p style="text-align: justify; tab-stops: 307.5pt;">
            <span style="font-size: 11.0pt;">&nbsp;</span>
        </p>
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">A QUIEN CORRESPONDA:</span>
        </p>
        
        <!-- Cuerpo -->
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">Por medio de la presente hacemos constar que {{nombre}} matr&iacute;cula {{matricula}} est&aacute; inscrito(a) en este Instituto en el semestre de {{semestre_actual}}, en la carrera de {{carrera}}.
        </p>
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">Asimismo, les informamos que su certificado de preparatoria, certificado de secundaria y acta de nacimiento originales se encuentran en nuestro poder y &uacute;nicamente se entregan al alumno(a) cuando se gradu&eacute; o solicite baja total o parcial de este Instituto.</span>
        </p>
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">Para los usos legales que al interesado(a) convengan, extendemos la presente CONSTANCIA en la ciudad de Monterrey, Nuevo Le&oacute;n a los {{dia_actual}} d&iacute;a del mes de {{mes_actual}} de {{ano_actual}}.</span>
        </p>
        
        <!-- Despedida -->
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">&nbsp;</span>
        </p>
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">Atentamente,</span>
        </p>
        
        <!-- Datos Encargado -->
        <p>
            <img src="images/firma.png" height="60">
            <br>
            <span style="font-size: 12.0pt;">Departamento de Administraci&oacute;n Acad&eacute;mica</span>
            <br>
            <span style="font-size: 12.0pt;">Tecnol&oacute;gico de Monterrey</span>
            <br>
            <span style="font-size: 12.0pt;">Campus Monterrey</span>
            <br>
        </p>
    </div>
</body>

</html>
