<!DOCTYPE>
<html>

<head>

</head>

<body>

    <div style="margin-left: 100px; margin-right: 100px; padding-top: 140px; padding-bottom: 100px">
        <!-- Destinatario -->
        <p style="text-align: justify; tab-stops: 70.9pt;">
            <span style="font-size: 11.0pt;">A QUIEN CORRESPONDA:</span>
            <br>

            <!-- Cuerpo -->
            <p style="text-align: justify;">
                <span style="font-size: 11.0pt;">Por medio de la presente certificamos que {{nombre}} matr&iacutecula {{matricula}} est&aacute inscrito(a) en este Instituto en el presente semestre del {{primer_dia_de_clases_semestre_actual}} al {{ultimo_dia_de_clases_semestre_actual}} en la carrera de {{carrera}}, {{semestre_en_progreso}} acad&eacutemico, con las siguientes materias inscritas: </span>
            </p>
            <p style="text-align: justify;">
                <span style="font-size: 11.0pt;">{{materias_cursando}}
            </p>
            <p style="text-align: justify;">
                <span style="font-size: 11.0pt;">El periodo de vacaciones ser&aacute; del {{fecha_comienza_vaciones_semestre_actual}} al {{fecha_ultimo_dia_vacaciones_semestre_actual}}. Este Instituto funciona bajo el r&eacutegimen legal de Escuela Libre Universitaria por decreto presidencial del 14 de julio de 1952, publicado en el Diario Oficial de la Federacin el 12 de septiembre de 1952. Este decreto hace v&aacutelidos en todo el pa&iacutes los estudios que imparte el Instituto Tecnol&oacutegico y de Estudios Superiores de Monterrey.</span>
            </p>
            <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
                <span style="font-size: 11.0pt;">El Acuerdo No. 3438, expedido por el Secretario de Educaci&oacuten P&uacuteblica el 28 de febrero de 1974 y publicado en el Diario Oficial de la Federaci&oacuten el 5 de marzo del mismo a&ntildeo, ampl&iacutea el anterior decreto en el sentido de validar los estudios que el Instituto Tecnol&oacutegico y de Estudios Superiores de Monterrey imparta a trav&eacutes de sus Campus For&aacuteneos en cualquier ciudad de la Rep&uacuteblica Mexicana. Asimismo, les informamos que nuestra Instituci&oacuten tiene el siguiente registro del TEC ante la SEP, el cual es DEC-520912, la clave ante la Direcci&oacuten General de Profesiones es 190002.</span>
            </p>
            <p style="text-align: justify;">
                <span style="font-size: 11.0pt;">El Instituto es miembro de la Asociaci&oacuten Nacional de Universidades e Institutos de Ense&ntildeanza Superior de la Rep&uacuteblica Mexicana; adem&aacutes es miembro extraterritorial de la Southern Association of Colleges and School, por lo que cualquiera de los estudios que imparta el Instituto son reconocidos en las Universidades de Estados Unidos de Norteam&eacuterica. </span>
            </p>
            <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
                <span style="font-size: 11.0pt;">Para los usos legales que a la interesado(a) convengan, extendemos la presente CONSTANCIA en la ciudad de Monterrey, Nuevo Le&oacuten a {{fecha_actual}}.</span>
            </p>

            <!-- Despedida -->
            <p style="text-align: justify;">
                <p>
                    <span style="font-size: 11.0pt;">A t e n t a m e n t e,
                </p>

                <!-- Datos Encargado -->
                <p>
                    <img src="images/firma.png" height="60">
                    <br>
                    <span style="font-size: 12.0pt;">Departamento de Administraci&oacuten Acad&eacutemica</span>
                    <br>
                    <span style="font-size: 11.0pt;">Tecnol&oacutegico de Monterrey</span>
                    <br>
                    <span style="font-size: 11.0pt;">Campus Monterrey</span>
                </p>
    </div>

</body>

</html>
