<!DOCTYPE>
<html>

<head>

</head>

<body>
  <p>
      <span style="font-size: 11.0pt;">&nbsp;</span>
  </p>
  <p>
      <span style="font-size: 11.0pt;">&nbsp;</span>
  </p>

    <!-- Destinatario -->
    <p style="text-align: justify; tab-stops: 70.9pt;">
        <span style="font-size: 11.0pt;">TO WHOM IT MAY CONCERN:</span>
        <br>

    <!-- Cuerpo -->
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">We hereby certify that {{nombre}} whose ID number is {{matricula}} whose photo and signature appear on the label was enrolled in this Institute in the last period from {{semestre_actual}}. He/She is registered in {{carrera}} inscribed with the following subjects:</span>
    </p>
    <p style="text-align: justify;">
    <span style="font-size: 11.0pt;">{{materias_cursando}}
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">We also wish to inform you that the vacation period will be from the {{fecha_comienza_vaciones_semestre_actual}} to the {{fecha_ultimo_dia_vacaciones_semestre_actual}}. This Institute functions under a Free College University legal regime in accordance with the Presidential Decree dated the 14th of July of 1952 and published on the 12th of September of 1952 in the Official Journal of the Federation. This decree validates nationwide the studies imparted by the Instituto Tecnologico y de Estudios Superiores de Monterrey (Monterrey Institute of Technology and Higher Education).</span>
    </p>
    <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
        <span style="font-size: 11.0pt;">In Accord No. 3438, issued by the Public Education Secretary on the 28th of February of 1974 and published in the Official Journal of the Federation on the 5th of March of the same year, the aforementioned Decree was extended to validate the studies imparted by the Instituto Tecnologico y de Estudios Superiores de Monterrey in any of its National Campus in any city within the Mexican Republic. We additionally inform you that our Institution is registered in the SEP under Code DEC-520912 and that its registration number in the General Direction of Professions is 190002.</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">This Institute is also a member of the Asociacion Nacional de Universidades e Institutos de Enseñanza Superior de la Republica Mexicana (National Association of Universities and Superior Studies Institutes of the Mexican Republic); as well as an extraterritorial member of the Southern Association of Colleges and Schools, whereas all of the courses imparted by the Institute are recognized by the Universities in the United States of America.</span>
    </p>
    <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
        <span style="font-size: 11.0pt;">We hereby extend this DOCUMENT for whatever legal purposes the student may require, in Monterrey city, Nuevo Le&oacuten on {{fecha_actual}}.</span>
    </p>

    <!-- Despedida -->
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Sincerely,</span>
    </p>

    <!-- Datos Encargado -->
    <p>
        <img src="images/firma.png" height="60">
        <br>
        <span style="font-size: 12.0pt;">Academic Administration Department</span>
        <br>
        <span style="font-size: 11.0pt;">Tecnol&oacutegico de Monterrey</span>
        <br>
        <span style="font-size: 11.0pt;">Campus Monterrey</span>
    </p>

    <!-- Datos Alumno -->
    <p>
      <p style="text-align: right;">
          <span style="font-size: 11.0pt;">_______________________________________  </span>
      </p>
      <p style="text-align: right;">
          <span style="font-size: 11.0pt;">{{nombre}}</span>
      </p>
      <p style="text-align: right;">
          <span style="font-size: 11.0pt;"> Date of birth. - {{fecha_de_nacimiento}}</span>
        </p>

</body>

</html>
