<!DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>

    <div style="margin-left: 100px; margin-right: 100px; padding-top: 100px; padding-bottom: 100px">
        <!-- Destinatario -->
        <p style="text-align: justify; tab-stops: 70.9pt;">
            <span style="font-size: 11.0pt;">A QUIEN CORRESPONDA:</span>
            <br>

            <!-- Cuerpo -->
            <p style="text-align: justify;">
                <span style="font-size: 11.0pt;">Por medio de la presente certificamos que {{nombre}} matrícula {{matricula}} está inscrito(a) en este Instituto en el presente semestre del {{fechas_de_periodo}} en la carrera de {{carrera}}, {{semestre}} académico, con las siguientes materias inscritas: </span>
            </p>
            <p style="text-align: justify;">
                <span style="font-size: 11.0pt;">{{nombre_materias_inscritas}}
            </p>
            <p style="text-align: justify;">
                <span style="font-size: 11.0pt;">El periodo de vacaciones será; del {{periodo_de_vacaciones}}. Este Instituto funciona bajo el régimen legal de Escuela Libre Universitaria por decreto presidencial del 14 de julio de 1952, publicado en el Diario Oficial de la Federación el 12 de septiembre de 1952. Este decreto hace válidos en todo el países los estudios que imparte el Instituto Tecnológico y de Estudios Superiores de Monterrey.</span>
            </p>
            <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
                <span style="font-size: 11.0pt;">El Acuerdo No. 3438, expedido por el Secretario de Educación Pública el 28 de febrero de 1974 y publicado en el Diario Oficial de la Federación el 5 de marzo del mismo año, amplía el anterior decreto en el sentido de validar los estudios que el Instituto Tecnológico y de Estudios Superiores de Monterrey imparta a través de sus Campus Foráneos en cualquier ciudad de la República Mexicana. Asimismo, les informamos que nuestra Institución tiene el siguiente registro del TEC ante la SEP, el cual es DEC-520912, la clave ante la Dirección General de Profesiones es 190002.</span>
            </p>
            <p style="text-align: justify;">
                <span style="font-size: 11.0pt;">El Instituto es miembro de la Asociación Nacional de Universidades e Institutos de Enseñanza Superior de la República Mexicana; además es miembro extraterritorial de la Southern Association of Colleges and School, por lo que cualquiera de los estudios que imparta el Instituto son reconocidos en las Universidades de Estados Unidos de Norteamérica. </span>
            </p>
            <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
                <span style="font-size: 11.0pt;">Para los usos legales que a la interesado(a) convengan, extendemos la presente CONSTANCIA en la ciudad de Monterrey, Nuevo León a {{fecha_actual}}.</span>
            </p>

            <!-- Despedida -->
            <p style="text-align: justify;">
                <p>
                    <span style="font-size: 11.0pt;">A t e n t a m e n t e,
                </p>

                <!-- Datos Encargado -->
                <p>
                    <img src="images/firma.png" height="60">
                    <br>
                    <span style="font-size: 12.0pt;">Departamento de Administración Académica</span>
                    <br>
                    <span style="font-size: 11.0pt;">Tecnológico de Monterrey</span>
                    <br>
                    <span style="font-size: 11.0pt;">Campus Monterrey</span>
                </p>
    </div>

</body>

</html>
