
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div style="border: solid lightgray; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); padding: 20px; width: 90%; margin: auto; margin-top: 50px;">
            <div style="text-align: center; font-size: 24px; font-weight: 900; color:white; background-color:#000066; padding: 50px; font-family: 'Lucida Sans', sans-serif">Restablece tu contraseña</div>
            <div style="height: 200px; padding: 50px 0px">
                <div style="font-size: 24px; margin: 40px 0px 10px 0px; text-align: center">Hola,</div>
                <div style="margin: 10px 0px 40px 0px; text-align: center">
                    <a style=" font-size: 24px;" href="https://www.tramitesescolares.com.mx/restaurar/{{ token }}">
                        Haz clic aquí para restablecer tu contraseña.
                    </a>
                </div>
            </div>
            <div style="background-color: grey; color: white; padding: 20px; font-size: 14px; text-align: center; font-family: 'Lucida Sans', sans-serif">STTA ITESM - Sistema para Consulta de Trámites Escolares ITESM ©2019</div>
        </div>
    </body>
</html>