
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div>
            <div style="text-align: center; font-size: 24px; font-weight: 900">Restablece tu contraseña</div>
                <div style="margin: 40px 0px 10px 0px; text-align: center">Hola {{ userName }},</div>
                <div style="margin: 10px 0px 40px 0px; text-align: center">
                    <a href="http://127.0.0.1:3000/restaurar'">
                        haz click aquí para restablecer tu contraseña
                    </a>
                </div>
                </div>
            <div style="color: gray; font-size: 14px; text-align: center;">STTA ITESM - Sistema para Consulta de Trámites Escolares ITESM ©2019</div>
        </div>
    </body>
</html>