<!DOCTYPE html>
<html>

<head>
     <meta charset="UTF-8">
</head>

<body>
    <!-- Fecha y lugar -->
    <p style="text-align: right;">
        <span style="font-size: 11.0pt;">Monterrey, N.L. a {{fecha_actual}}.</span>
    </p>
    <p>
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>
    <p>
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>

    <!-- Destinatario -->
    <p style="text-align: justify; tab-stops: 70.9pt;">
        <span style="font-size: 11.0pt;">Secretaría de Gobernación</span>
        <br>
        <span style="font-size: 11.0pt;">Instituto Nacional de Migración</span>
        <br>
        <span style="font-size: 11.0pt;">Delegación Federal en Nuevo León.</span>
    </p>

    <!-- Saludo -->
    <p style="text-align: justify; tab-stops: 307.5pt;">
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Estimados Señores:</span>
        <br><br>
        <span style="font-size: 11.0pt;">Reciban un cordial saludo.</span>
    </p>

    <!-- Cuerpo -->
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Por medio de la presente me permito informarles que la solicitud de admisión del alumno(a) <strong>{{nombre}}</strong>, quien nació el <strong>{{fecha_de_nacimiento}}</strong>, de nacionalidad <strong>{{nacionalidad}}</strong>, ha sido aceptada en este Instituto para cursar la carrera de <strong>{{carrera}}</strong> a partir del semestre de <strong>{{periodo_de_aceptacion}}</strong> y actualmente está; inscrito(a) y cursa su <strong>{{semestre}}</strong>. La matrícula asignada es: <strong>{{matricula}}.</strong></span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">El periodo académico {{semestre}} comprende del {{fechas_de_periodo}} en el cual se encuentra inscrito(a) y el periodo de vacaciones será; del {{periodo_de_vacaciones}}.</span>
    </p>
    <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
        <span style="font-size: 11.0pt;">La duración de los estudios del mencionado alumno(a) se compone de 9 periodos semestrales y 1 semestre remedial, siguiendo lo anterior se estima que podría terminar su programa en {{posible_graduacion}}.</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">La Vicerrectoría de Finanzas determina el monto exacto de la colegiatura 2 o 3 meses antes del inicio de cada semestre y/o trimestre, por lo que no es posible hacer un estimado global sobre el costo de la carrera y/o maestría que se cursará. Sin embargo les informo que el costo de la colegiatura así como el costo del seguro de gastos médicos mayores tiene un incremento en cada periodo.</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">El costo para el semestre {{semestre}} para los alumnos de carrera es de $</span> <span style="font-size: 11.0pt;">{{costo_semestre_actual}} y el del seguro de gastos médicos mayores de ${{costo_seguro_semestre_actual}} en cobertura básica.</span>
    </p>

    <!-- Despedida -->
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Agradecemos las atenciones que se sirvan tener con el interesado(a).</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Atentamente,</span>
    </p>

    <!-- Datos Encargado -->
    <div style="height: 160">
        <p>
            <img src="images/firma.png" height="60">
            <br>
            <span style="font-size: 12.0pt;">Lic. Sylvia Alvarado González</span>
            <br>
            <span style="font-size: 11.0pt;">(sylvia.alvarado.gonzalez@tec.mx)</span>
            <br>
            <span style="font-size: 11.0pt;">Coordinador de Atención y Servicio al Alumno</span>
            <br>
            <span style="font-size: 11.0pt;">Dirección de Servicios Escolares</span>
            <br>
            <span style="font-size: 11.0pt;">Tecnológico de Monterrey, Monterrey, México</span>
        </p>
    </div>
    
    
    <!-- Datos Tec -->
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>
    <p style="text-align: justify;">
        <strong><span style="font-size: 11.0pt;">El Reconocimiento de Validez Oficial de Estudios para los programas impartidos en el Instituto Tecnológico y de Estudios Superiores de Monterrey es el DEC-520912.</span></strong>
    </p>
</body>

</html>
