<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <!-- Fecha y lugar -->
    <p style="text-align: right;">
        <span style="font-size: 11.0pt;">Monterrey, N.L. a {{fecha_actual}}.</span>
    </p>
    <p>
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>
    <p>
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>

    <!-- Destinatario -->
    <p style="text-align: justify; tab-stops: 70.9pt;">
        <span style="font-size: 11.0pt;">Secretar&iacute;a de Gobernaci&oacute;n</span>
        <br>
        <span style="font-size: 11.0pt;">Instituto Nacional de Migraci&oacute;n</span>
        <br>
        <span style="font-size: 11.0pt;">Delegaci&oacute;n Federal en Nuevo Le&oacute;n.</span>
    </p>

    <!-- Saludo -->
    <p style="text-align: justify; tab-stops: 307.5pt;">
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Estimados Se&ntilde;ores:</span>
        <br><br>
        <span style="font-size: 11.0pt;">Reciban un cordial saludo.</span>
    </p>

    <!-- Cuerpo -->
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Por medio de la presente me permito informarles que la solicitud de admisi&oacute;n del alumno(a) <strong>{{nombre}}</strong>, quien naci&oacute; el <strong>{{fecha_de_nacimiento}}</strong>, de nacionalidad <strong>{{nacionalidad}}</strong>, ha sido aceptada en este Instituto para cursar la carrera de <strong>{{carrera}}</strong> a partir del semestre de <strong>{{periodo_de_aceptacion}}</strong> y actualmente est&aacute; inscrito(a) y cursa su <strong>{{semestre_en_progreso}}</strong>. La matr&iacute;cula asignada es: <strong>{{matricula}}.</strong></span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">El periodo acad&eacute;mico {{semestre_actual}} comprende del {{primer_dia_de_clases_semestre_actual}} al {{ultimo_dia_de_clases_semestre_actual}} en el cual se encuentra inscrito(a) y el periodo de vacaciones ser&aacute; del {{fecha_comienza_vaciones_semestre_actual}} al {{fecha_ultimo_dia_vacaciones_semestre_actual}}.</span>
    </p>
    <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify;">
        <span style="font-size: 11.0pt;">La duraci&oacute;n de los estudios del mencionado alumno(a) se compone de 9 periodos semestrales y 1 semestre remedial, siguiendo lo anterior se estima que podr&iacute;a terminar su programa en {{posible_graduacion}}.</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">La Vicerrector&iacute;a de Finanzas determina el monto exacto de la colegiatura 2 o 3 meses antes del inicio de cada semestre y/o trimestre, por lo que no es posible hacer un estimado global sobre el costo de la carrera y/o maestr&iacute;a que se cursar&aacute;. Sin embargo les informo que el costo de la colegiatura as&iacute; como el costo del seguro de gastos m&eacute;dicos mayores tiene un incremento en cada periodo.</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">El costo para el semestre {{semestre_actual}} para los alumnos de carrera es de $</span> <span style="font-size: 11.0pt;">{{costo_semestre_actual}} y el del seguro de gastos m&eacute;dicos mayores de ${{costo_seguro_semestre_actual}} en cobertura b&aacute;sica.</span>
    </p>

    <!-- Despedida -->
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Agradecemos las atenciones que se sirvan tener con el interesado(a).</span>
    </p>
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">Atentamente,</span>
    </p>

    <!-- Datos Encargado -->
    <div style="height: 160">
        <p>
            <img src="images/firma.png" height="60">
            <br>
            <span style="font-size: 12.0pt;">Lic. Sylvia Alvarado Gonz&aacute;lez</span>
            <br>
            <span style="font-size: 11.0pt;">(sylvia.alvarado.gonzalez@tec.mx)</span>
            <br>
            <span style="font-size: 11.0pt;">Coordinador de Atenci&oacute;n y Servicio al Alumno</span>
            <br>
            <span style="font-size: 11.0pt;">Direcci&oacute;n de Servicios Escolares</span>
            <br>
            <span style="font-size: 11.0pt;">Tecnol&oacute;gico de Monterrey, Monterrey, M&eacute;xico</span>
        </p>
    </div>
    
    
    <!-- Datos Tec -->
    <p style="text-align: justify;">
        <span style="font-size: 11.0pt;">&nbsp;</span>
    </p>
    <p style="text-align: justify;">
        <strong><span style="font-size: 11.0pt;">El Reconocimiento de Validez Oficial de Estudios para los programas impartidos en el Instituto Tecnol&oacute;gico y de Estudios Superiores de Monterrey es el DEC-520912.</span></strong>
    </p>
</body>

</html>
