<!DOCTYPE>
<html>

<head>

</head>

<body>
    <div style="margin-left: 100px; margin-right: 100px; padding-top: 180px; padding-bottom: 100px">
        <!-- Saludo -->
        <p style="text-align: justify; tab-stops: 307.5pt;">
            <span style="font-size: 11.0pt;">&nbsp;</span>
        </p>
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">A QUIEN CORRESPONDA:</span>
        </p>

        <!-- Cuerpo -->
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">Por medio de la presente hacemos constar que {{nombre}} matr&iacute;cula {{matricula}} estuvo inscrito(a) en este Instituto durante el semestre de {{semestre_actual}} en la carrera de {{carrera}}.
        </p>
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">Asimismo, les informamos que el alumno(a) no ha causado baja acad&eacute;mica, el estatus acad&eacute;mico es de alumno regular, las inscripciones para el per&iacute;odo acad&eacute;mico <strong>{{proximo_semestre}}</strong> inician del <strong>{{fecha_inscripciones_proximo_semestre}}</strong> a trav&eacute;s de la siguiente liga: http://inscripciones.mty.itesm.mx.  El <strong>inicio de clases</strong> ser&aacute; el d&iacute;a <strong>{{primer_dia_proximo_semestre}}</strong>. Nuestra Instituci&oacute;n tiene el siguiente registro del TEC ante la SEP, el cual es DEC-520912, la clave ante la Direcci&oacute;n General de Profesiones es 190002.</span>
        </p>
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">Para los usos legales que al interesado(a) convengan, extendemos la presente CONSTANCIA en la ciudad de Monterrey, Nuevo Le&oacute;n a los {{dia_actual}} d&iacute;a del mes de {{mes_actual}} de {{ano_actual}}.</span>
        </p>

        <!-- Despedida -->
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">&nbsp;</span>
        </p>
        <p style="text-align: justify;">
            <span style="font-size: 11.0pt;">Atentamente,</span>
        </p>

        <!-- Datos Encargado -->
        <p>
            <img src="images/firma.png" height="60">
            <br>
            <span style="font-size: 12.0pt;">Departamento de Administraci&oacute;n Acad&eacute;mica</span>
            <br>
            <span style="font-size: 12.0pt;">Tecnol&oacute;gico de Monterrey</span>
            <br>
            <span style="font-size: 12.0pt;">Campus Monterrey</span>
            <br>
        </p>
    </div>
</body>

</html>
