<!DOCTYPE html>

<html>

<head>
    <title>Template letter</title>
</head>

<body>
    <h1>Carta muestra con datos de alumno</h1>

    <p id="name">José Eduardo - name: {{name}}</p>
    <p id="last_name">Sosa Ventura - last_name: {{last_name}} </p>
    <p id="enrollment">A00816714 - enrollment: {{enrollment}} </p>
    <p id="birthdate">20 de octubre de 1994 - birthdate: {{birthdate}} </p>
    <p id="nationality">Salvadoreña - nationality: {{nationality}} </p>
    <p id="semester_initial_date">enero - mayo 2014 - semester_initial_date: {{semester_initial_date}} </p>
    <p id="semester_in_progress">3° semestre - semester_in_progress: {{semester_in_progress}} </p>
    <p id="semester_goal">enero - mayo 2014 - semester_goal: {{semester_goal}} </p>
    <p id="subjects_in_progress">Fisica, Matematicas, Android - subjects_in_progress: {{subjects_in_progress}} </p>
    <p id="career">Ingeniero Industrial y de Sistemas - career: {{career}} </p>
    <p id="current_date">19 de enero de 2017 - current_date: {{current_date}} </p>
</body>
</html>