<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>A QUIEN CORRESPONDA:</p>
    <p>&nbsp;</p>

    <p>
        Por medio de la presente hacemos constar que {{nombre}} matrícula {{matricula}} es egresado(a) de este Instituto habiendo obtenido el título profesional de {{carrera}} en {{fecha_graduacion}}, con un promedio general de <strong>{{promedio}}</strong>.
    </p>

    <p>
        Asimismo, les informamos que el exalumno(a) &nbsp;obtuvo el lugar {{rango_estudiante}} de una generación de {{total_alumnos}} alumnos.&nbsp; El promedio está basado en una escala numérica del 1(uno) al 100(cien), siendo el 100(cien) la calificación máxima posible y 70(setenta) la calificación mínima aprobatoria. El promedio general&nbsp; se obtiene tomando en cuenta todas las materias cursadas (incluyendo cursos remediales y cursos no aprobados).
    </p>

    <p>
        Para los usos legales que al interesado(a) convengan extendemos la presente CONSTANCIA, en la ciudad de Monterrey, Nuevo León a {{fecha_actual}}
    </p>

    <p>&nbsp;</p>
    <p>A t e n t a m e n t e,</p>
    
    <!-- Firma -->
    <div style="height: 160">
        <img src="images/firma.png" height="60">
        <p>
            Departamento de Administración Académica<br />Tecnológico de Monterrey<br />Campus Monterrey
        </p>
    </div>
    
</body>
