<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <!-- Saludo -->
    <br>
    <br>
    <p>TO WHOM IT MAY CONCERN:</p>
    <p>&nbsp;</p>

    <!-- Parrafo 1 -->
    <p>
        We hereby wish to confirm that {{nombre}} whose ID number is {{matricula}} graduated from this Institute having obtained the Title {{carrera}} on {{fecha_graduacion}}.
    </p>

    <!-- Parrafo 2 -->
    <p>
        We also inform you that the average of all his grades was <strong>{{promedio}}</strong> on a 1(one) to 100(hundred) grading scale, being 100(hundred) the highest grade and 70(seventy) the minimum passing grade.&nbsp; This grade average is obtained taking into account all courses taken by the student (when applicable, remedial courses and courses not passed as well).
    </p>

    <!-- Parrafo 3 -->
    <p>
        He/She ranked <strong>{{rango_estudiante}}</strong> in a graduating class of <strong>{{total_alumnos}}</strong> students&nbsp;
    </p>

    <!-- Parrafo 4 -->
    <p>
        We hereby extend this DOCUMENT for whatever legal purposes the student may require, in the city of Monterrey, state of Nuevo Leon on {{fecha_actual}}
    </p>

    <!-- Firma -->
    <p>&nbsp;</p>
    <p>Sincerely,</p>
    <p>&nbsp;</p>

    <div style="height: 160">
        <img src="images/firma.png" height="60">
        <p>
            Academic Administration Department<br />Tecnol&oacute;gico de Monterrey<br />Campus Monterrey
        </p>
    </div>
</body>
